* {
    margin-bottom: 8px;
}

body {
    display: flex;
    flex-direction: column;
}

h4 {
    font-weight: bold;
    margin: 0 0 8px 0;
}

canvas {
    border: 1px dashed lightgray;
}

.control-group-container {
    display: flex;
    background-color: #d3d3d34a;
}

.control-group-container .control-group {
    margin: 0;
    padding: 8px;
}

.control-group-container .control-group input[type="number"] {
    width: 72px;
}

.error {
    color: red;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.view {
    margin-right: 20px;
}

.inspector {
    min-width: 900px;
}
